boto3
botocore
cloudpickle
flowvision==0.1.0
wget
hydra-core
nltk
numpy
omegaconf==2.1.0
Pygments
PyYAML
jieba
regex
requests
scipy
sentencepiece>=0.1
tabulate
termcolor
tqdm
pybind11
portalocker
flake8==3.8.1 
isort==5.10.1
black==21.4b2
autoflake
tensorboardX
pytest
