name: Python checks

env:
  ONEFLOW_SRC: oneflow-src
on:
  pull_request:
    types: [review_requested]
    branches:
      - "*"
  workflow_dispatch:
    inputs:
      placeholder:
        description: "placeholder, no effect"
        required: false
jobs:
  check_license_and_format:
    name: License and format
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.requested_reviewers.*.login, 'oneflow-ci-bot')
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        # flake8-bugbear flake8-comprehensions are useful but not available internally
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8==3.8.1 isort==5.10.1
          python -m pip install black==21.4b2
          flake8 --version

      - name: Lint
        id: py_check
        run: |
          isort --check .
          black -l 100 --check .
          flake8 .

      - name: Please request CI again
        if: ${{ failure() }}
        run: |
          exit 1
